

<div class ="col-md-8">
  
  <div class="page-header">
  <h1>Carl Sagan </h1>
</div>
  
  
  <p class="caption">
Carl Edward Sagan (/ˈseɪɡən/; November 9, 1934 – December 20, 1996) was an American astronomer, cosmologist, astrophysicist, astrobiologist, author, science popularizer, and science communicator in astronomy and other natural sciences. His contributions were central to the discovery of the high surface temperatures of Venus. However, he is best known for his contributions to the scientific research of extraterrestrial life, including experimental demonstration of the production of amino acids from basic chemicals by radiation. Sagan assembled the first physical messages that were sent into space: the Pioneer plaque and the Voyager Golden Record, universal messages that could potentially be understood by any extraterrestrial intelligence that might find them.
</p>


</div>


<div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fi2.wp.com%2Falt1040.com%2Ffiles%2F2014%2F02%2Fcarl-sagan-universe.jpg%3Fresize%3D1000%252C601&f=1" alt="...">
    </a>
  </div>
  ...
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 94%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>







