<h1> add your own! </h1>

<form action="create_science">
  <input type="text" name="caption" placeholder="caption">
  
   <input type ="text" name="title" placeholder="name">
  
  
  <input type ="text" name="url" placeholder="image url">
  
  <input type ="submit">
    
  
  
  
  
</form>