

<div class ="col-md-8">
  <div class="page-header">
  <h1> Neil Degrasse Tyson </h1>
</div>
<p>
  Neil deGrasse Tyson (/ˈniːəl dəˈɡræs ˈtaɪsən/; born October 5, 1958) is an American astrophysicist, cosmologist, author, and science communicator. Since 1996, he has been the Frederick P. Rose Director of the Hayden Planetarium at the Rose Center for Earth and Space in New York City. The center is part of the American Museum of Natural History, where Tyson founded the Department of Astrophysics in 1997 and has been a research associate in the department since 2003.
  
</p>


</div>


<div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fimages.askmen.com%2F2012_top_49%2Fgalleries%2F26-neil-degrasse-tyson-1349299527.jpg&f=1" alt="...">
    </a>
  </div>
  ...
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
