

<div class ="col-md-8">
  <div class="page-header">
  <h1> Bill Nye </h1>
</div>
<p>
  William Sanford "Bill" Nye[1] (born November 27, 1955), popularly known as Bill Nye the Science Guy, is an American science educator, comedian, television host, actor, writer, scientist, and former mechanical engineer, best known as the host of the Disney/PBS children's science show Bill Nye the Science Guy (1993–98) and for his many subsequent appearances in popular media as a science educator.
  
</p>


</div>


<div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://40.media.tumblr.com/7ae4a7b47e1c9b5185032ef54487fed8/tumblr_no8pjhnLhe1rxiqe4o1_1280.jpg" alt="...">
    </a>
  </div>
  ...
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
